@model DACS.Models.Khoa
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Thêm Chuyên Khoa";
}
<h2>Thêm Chuyên Khoa</h2>
<form asp-action="AddChuyenKhoa" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
</form>
