@model DACS.Models.TinYTe
@{
    ViewData["Title"] = "Thêm Tin Y Tế";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thêm Tin Y Tế</h1>
<form asp-action="AddTinYTe" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="TieuDe"></label>
        <input asp-for="TieuDe" class="form-control" />
        <span asp-validation-for="TieuDe" class="text-danger"></span>
    </div>
 
    <div class="form-group">
        <label asp-for="NoiDung"></label>
        <input asp-for="NoiDung" class="form-control"/>
        <span asp-validation-for="NoiDung" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">Hình Ảnh Tin Tức</label>
        <input type="file" asp-for="ImageUrl" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>