@model IEnumerable<DACS.Models.LichLamViec>

@{
    ViewData["Title"] = "IndexLichLamViec";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Quản lý lịch làm việc</h1>

<p>
    <a class="btn btn-primary" asp-action="AddLichLamViec">Tạo mới lịch làm việc</a>
</p>


<table class="table">
    <thead>
        <tr>


            <th>Tên bác sĩ</th>
            <th>Ngày làm của bác sĩ</th>
            <th>Ca làm của bác sĩ</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BacSi.Name</td>
                <td>@item.Lich.ToString("dd/MM/yyyy")</td>
                <td>@item.Ca</td>
                <td>
                    <a class="btn btn-danger" asp-action="DeleteLichLamViec" asp-route-id="@item.Id">Xóa</a>

                </td>
            </tr>
        }
    </tbody>
</table>
