@model IEnumerable<DACS.Models.Khoa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Quản lý chuyên khoa</h1>

<p>
    <a class="btn btn-primary" asp-action="AddChuyenKhoa">Tạo mới chuyên khoa</a>
</p>


<table class="table">
    <thead>
        <tr>


            <th>Tên chức vụ</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Name</td>
                <td>
                    <a class="btn btn-danger" asp-action="DeleteKhoa" asp-route-id="@item.Id">Xóa</a>

                </td>
            </tr>
        }
    </tbody>
</table>
